$pureWhite: #fff;
$pureBlack: #000;

$base-color: #383940;
$accent-color: #2746ED;

$color-gray01: #666666;
$color-gray02: #9E9E9E;
$color-gray03: #606D76;
$color-gray04: #CFCFCF;
$color-gray05: #F8F8F8;
$color-gray06: #FDFDFD;
$color-gray07: #FAFAFA;
$color-gray08: #D7D7D7;
$color-gray09: #D8D8D8;
$color-gray10: #E1E1E1;
$color-gray11: #F6F6F6;
$color-gray12: #848484;

$color-black01: #040D13;
$color-black02: #173457;

$color-blue01: #4F60FF;
$color-blue02: #24F2FF;
$color-blue03: #801CFF;