$pureWhite: #fff;
$pureBlack: #000;

$base-color: #383940;
$accent-color: #2746ED;

$color-gray01: #666666;
$color-gray02: #9E9E9E;
$color-gray03: #606D76;

$color-black01: #040D13;
$color-black02: #173457;

$color-blue01: #4F60FF;
$color-blue02: #24F2FF;
$color-blue03: #801CFF;