@use "../globals/global" as *;

.feature {
    background-color: $color-black01;
    position: relative;

    &::before,
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &::before {
        background: url(../../images/strive-feature-bg.png) no-repeat center center / cover;
        z-index: 2;
    }
    &::after {
        background: url(../../images/strive-feature-bg-gradation.png) no-repeat center center / cover;
    } 

    @include mq("sp") {
        
        &::before {
            background: url(../../images/strive-feature-bg-sp.png) no-repeat center center / cover;
            width: 100%;
            height: 360px;
            top: initial;
            bottom: 0;
        }
        &::after {
            display: none;
        }
    }
    
    &__enTitle {
        top: 100px;
        left: 75px;
        color: $pureWhite;

        &::after {
            background-color: $pureWhite;
        }

        @include mq("sp") {
            position: relative;
            top: initial;
            left: initial;
            margin-top: 140px;
        }
    }

    &-inner {
        padding-top: 230px;
        padding-bottom: 200px;

        @include mq("sp") {
            padding-top: 30px;
            padding-bottom: 320px;
        }
    }

    &-textArea {
        max-width: 510px;
        position: relative;
        z-index: 3;

        @include mq("sp") {
            width: 100%;
            max-width: 330px;
            margin: 0 auto;
        }
    }

    &__text {

        &--big {
            font-size: 38px;
            font-weight: 500;
            color: $color-blue01; /* 非対応のブラウザの為に色を設定 */
            text-fill-color: transparent;
            // -webkit-background-clip: text; /* テキストで切り抜く */
            -webkit-text-fill-color: transparent; /* 切り抜いた部分は背景を表示 */
            background: -webkit-linear-gradient(20deg, $base-color 0%, $pureWhite 50%, $pureWhite 100%); /* 背景色にグラデーションを指定 */
            background-clip: text;

            @include mq("sp") {
                font-size: 30px;
                text-align: center;
            }
        }
        &--small {
            margin-top: 30px;
            font-size: 15px;
            color: $color-gray02;

            @include mq("sp") {
                font-size: 13px;
            }
        }
    }
}