@use "../globals/global" as *;

.hero {
    position: relative;

    @media (max-width: 1100px) and (min-width: 768px) {
        padding-bottom: 100px;
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1067px;
        position: absolute;
        top: 0;
        // left: -50px;
        left: 0;
        background: url(../images/strive-hero-bg-gradation.png) no-repeat center center / cover;
    }

    &-textArea {
        width: 81.2%;
        max-width: 1110px;
        margin: 0 auto;
        padding-top: 240px;
        color: $pureWhite;
        position: relative;
        z-index: 2;

        @include mq("sp") {
            width: 87%;
            max-width: 400px;
            padding-top: 140px;
        }

        &__upper {
            padding-left: 20px;

            @include mq("sp") {
                padding-left: 0;
            }
        }

        &__bottom {
            margin-top: 12px;
            text-align: center;
            padding-left: 80px;
            position: relative;

            &::before {
                content: "";
                display: block;
                margin: 0 calc(50% - 50vw);
                width: 100vw;
                height: 75px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background: url(../images/strive-hero-text-img.png) no-repeat center center  / cover;
            }

            @include mq("sp") {
                text-align: left;
                padding-left: 0;

                &::before {
                    margin: 0;
                    max-width: 500px;
                    height: 464px;
                    top: 155%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: url(../images/strive-hero-text-img-sp.png) no-repeat center center / cover;
                }
            }
            @media (max-width: 450px) {
                top: 140%;
            }
        }
    }

    &-title {
        font-size: 80px;
        font-size: 5vw;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: .165em;

        @include mq("sp") {
            font-size: 48px;
            letter-spacing: .1em;
        }
        @media (max-width: 450px) {
            font-size: 42px;
        }
    }

    &-floatings {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        // z-index: 10;

        @include animation(
            $name: Opacity,
            $iteration-count: 1,
            $duration: 3s,
        )
    }
    &-floating {
        position: absolute;
        height: auto;
    }
    &-floating01 {
        width: 48px;
        top: 140px;
        left: 30%;

        @include animation(
            $name: float03,
            $iteration-count: infinite,
            $duration: 30s,
        )
    }
    &-floating02 {
        width: 11px;
        top: 160px;
        left: 20%;

        @include animation(
            $name: float02,
            $iteration-count: infinite,
            $duration: 30s,
        )
    }
    &-floating03 {
        width: 48px;
        top: 190px;
        right: 23%;

        @include animation(
            $name: float01,
            $iteration-count: infinite,
            $duration: 30s,
        )
    }
    &-floating04 {
        width: 18px;
        top: 310px;
        left: 80%;

        @include animation(
            $name: float02,
            $iteration-count: infinite,
            $duration: 30s,
        )
    }
    &-floating05 {
        width: 25px;
        top: 450px;
        left: 18%;

        @include animation(
            $name: float01,
            $iteration-count: infinite,
            $duration: 30s,
        )
    }
    &-floating06 {
        width: 40px;
        top: 500px;
        left: 55%;

        @include animation(
            $name: float04,
            $iteration-count: infinite,
            $duration: 30s,
        )
    }
    &-floating07 {
        width: 11px;
        top: 550px;
        left: 45%;

        @include animation(
            $name: float05,
            $iteration-count: infinite,
            $duration: 30s,
        )
    }
    &-floating08 {
        width: 11px;
        top: 500px;
        right: 5%;

        @include animation(
            $name: float06,
            $iteration-count: infinite,
            $duration: 30s,
        )
    }

    // animation
    @keyframes float01 {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(500px);
        }
        100% {
          transform: translateY(0);
        }
    }
    @keyframes float02 {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(-500px);
        }
        100% {
          transform: translateX(0);
        }
    }
    @keyframes float03 {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(-300px, -300px);
        }
        100% {
          transform: translate(0, 0);
        }
    }
    @keyframes float04 {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(-500px, -200px);
        }
        100% {
          transform: translate(0, 0);
        }
    }
    @keyframes float05 {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(500px, 200px);
        }
        100% {
          transform: translate(0, 0);
        }
    }
    @keyframes float06 {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(-500px, 200px);
        }
        100% {
          transform: translate(0, 0);
        }
    }
    
}

//スライダー部分
.hero-slider {
    margin-top: 32px;
    position: relative;
    z-index: 3;

    @include mq("sp") {
        margin-top: 140px;
    }
}

.slider-container {
    height: 320px;
}


.slider {

    &-item {
        height: auto;
        padding: 0 35px;
        
        &__img {
            width: 100%;
            height: auto;
            box-shadow: 20px 20px 50px rgba(#000, .4);
            border-radius: 19px;

            @include mq("sp") {
                box-shadow: none;
            }
        }

        &__sp {
            width: 547px;
        }
    }
    &-item01 {
        width: 320px;

        .slider-item__img {
            margin-top: 100px;
        }
    }
    &-item02 {
        width: 380px;
    }
    &-item03 {
        width: 436px;

        .slider-item__img {
            margin-top: 60px;
        }
    }
    &-item04 {
        width: 296px;
    }
    &-item05 {
        width: 286px;
        padding-left: 0;

        .slider-item__img {
            margin-top: 200px;
        }
    }
    &-item06 {
        width: 436px;
    }
    &-item07 {
        width: 380px;

        .slider-item__img {
            margin-top: 100px;
        }
    }
    &-item08 {
        width: 286px;

        .slider-item__img {
            margin-top: 50px;
        }
    }
}