@use "../globals/global" as *;

.pageProduct {

    


    &__titleArea {
        width: 470px;
    }

    &__enTitle {
        margin-top: 120px;
    }

    &-inner {
        padding-top: 140px;
        padding-bottom: 150px;
        
        @include mq("sp") {
            padding-top: 30px;
            padding-bottom: 80px;
        }
    }


    &-item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &:not(:first-child) {
            margin-top: 140px;

            @include mq("sp") {
                margin-top: 60px;
            }

            .pageProduct-dlArea {
                margin-top: 40px;
            }   
        }

        @include mq("sp") {
            width: 100%;
            max-width: 375px;
            margin: 0 auto;
            display: block;
        }

        &__head {
            font-weight: bold;
            color: $accent-color;

            @include mq("sp") {
                text-align: center;
                font-size: 14px;
            }
        }

        &__title {
            font-family: $Rajdhani;
            font-size: 38px;
            font-weight: 600;
            text-shadow: 30px 8px 40px rgba($pureBlack, .45);

            @include mq("sp") {
                text-align: center;
                font-size: 30px;
            }
        }

        &__imgArea {
            margin: 20px 0 0 0;
        }

        &__img {
            width: 100%;
            height: auto;
        }

        &__text {
            margin-top: 24px;
            font-size: 15px;
            line-height: 1.9;

            @include mq("sp") {
                margin-top: 18px;
                font-size: 13px;
            }
        }

    }


    &-nav {
        // position: fixed;
        // top: 0;
        // left: 0;

        @include mq("sp") {
            display: none;
        }
    }

    &-ul {
        width: 112px;
    }
    &-list {
        font-family: $Rajdhani;
        font-weight: 600;
        font-size: 20px;
        color: $color-gray08;
        text-shadow: 30px 8px 40px rgba($pureBlack, .45);
        
        &:not(:first-child) {
            margin-top: 16px;
        }

        &.active {
            color: $base-color;
            position: relative;

            &::before {
                content: "";
                display: block;
                width: 9px;
                height: 2px;
                position: absolute;
                top: 50%;
                left: -20px;
                background-color: $accent-color;
                transform: translateY(-50%);
            }
        }
    }

    &-contents {
        width: 68%;

        @include mq("sp") {
            width: 100%;
        }
    }

    &-dlArea {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;


        @include mq("sp") {
            margin-top: 24px;
        }
    }

    &-dl {
        width: 46.7%;
        margin: 0;
    }
    &-row {
        display: flex;
        padding: 16px 0;
        border-bottom: 1px solid $color-gray10;

        @include mq("sp") {
            display: block;
        }

        &:first-child {
            border-top: 1px solid $color-gray10;
        }
    }
    &-dt,
    &-dd {
        font-size: 12px;

        @include mq("sp") {
            font-size: 11px;
            margin: 0;
        }
    }
    &-dt {
        width: 46%;
        font-weight: bold;
        
        @include mq("sp") {
            width: 100%;   
        }
    }
    &-dd {
        width: 54%;
        font-weight: 500;

        @include mq("sp") {
            width: 100%;   
        }
    }

}