@use "../globals/global" as *;

.pageCompany {

    &__titleArea {
        width: 480px;
    }

    &__enTitle {

        @media (max-width: 1100px) {
            margin-top: 120px;
        }
    }

    &-inner {
        padding-top: 150px;
        padding-bottom: 120px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: 1100px) {
            padding-top: 30px;
            padding-bottom: 100px;
        }
        @include mq("sp") {
            display: block;
        }
    }

    &-headArea {

    }
    &__head {
        font-size: 40px;
        font-weight: normal;

        @include mq("sp") {
            font-size: 32px;
            text-align: center;
        }
    }

    &-dlArea {
        width: 58%;

        @include mq("sp") {
            width: 100%;
            max-width: 330px;
            margin: 0 auto;
        }
    }

    &-dl {
        margin-top: 0;
        margin-bottom: 60px;
        
        @include mq("sp") {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    &-row {
        display: flex;
        align-items: flex-start;
        padding: 40px 0;
        border-bottom: 1px solid $color-gray10;
        
        &:first-child {
            border-top: 1px solid $color-gray10;
        }

        @include mq("sp") {
            display: block;
            padding: 24px 0;
        }
    }
    &-dt {
        width: 26.7%;
        font-weight: bold;
    }
    &-dd {
        width: 73.3%;
        font-weight: 500;
    }

    &-dt,
    &-dd {

        @include mq("sp") {
            width: 100%;
            margin: 0;
            font-size: 14px;
        }
    }

    .company-map {
        width: 100%;
        height: 330px;
        resize: horizontal;

        @include mq("sp") {
            height: 220px;
        }
    }
}